.container {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    .current-track {
        height: 100px;
        width: 25%;
        color: aqua;
        background-color: aqua;
    }

    .track-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem 5rem;

        .control-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

            button {
            border: none;
            padding:  0.5rem;

            &:focus {
                outline: none;
            }
            }
        }

        .track-slider {
            display: flex;
            align-items: center;

            .control-track {
            width: 100%
            }
        }
    }

    .volume-container {
        display: flex;
        flex-direction: row;
        width: 25%;

        .tape-controls-mute,
        .playlist-control {
            border: none;
            &:focus {
                outline: none;
            }
        }
        
        .volume-slider {
            display: flex;
            align-items: center;
            margin: 0 2em 0 0;
            width: 40%;

    
            .control-volume {
                width: 100%
            }
        }
    }
}